@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Apply the bounce animation on hover */
.bounce-on-hover:hover {
  animation: bounce 0.6s ease-in-out;
}
